@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,900&display=swap');
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    font-size: 17px;
}
body{
    max-width: 100%;
    min-height: 100vh;
}
.navbar{
    background-color:rgba(255, 255, 255, 0.7);
    padding: 1% 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    transition: top 0.3s ease;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span{
    text-decoration: overline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
    color: blue;
    font-weight: bold;
    letter-spacing: .04rem;
    margin-left: 5px;
    font-family: 'Satisfy', cursive;
}

#logo{
    height: 50px;
    width: 50px;
    object-fit: contain;
    padding: 1%;
    border-radius: 50px;
}
.nav-elements-div{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid; */
}
#nav-elements{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap: 60px;
}
.navbar ul li{
    list-style-type: none;
    font-weight: 500;
}
#nav-elements li i{
    font-size: 17px;
    margin-right: 10px;
}
.navbar a{
    text-decoration: none;
    color:purple;
}

.navbar a:hover{
    color: rgb(200,0,200);
}

.actions{
    /* border: 1px solid blue; */
    padding:  0 2px;
}

.actions i{
    cursor: pointer;
}

.actions i:first-child{
    margin-right: 20px;
}

.menu{
    display: none;
}

/* start of the hero section */
.intro{
    background: linear-gradient(to right,rgb(110, 110, 188),rgb(55, 55, 218));
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 30px;
    padding: 3%;
    height:100vh;
    width:100%;
    color: white;
}

.word{
    height: auto;
}
#carry{
    margin-right:0;
    height: auto;
    border-radius: 10px;
}
#refreshment{
    display: flex;
    justify-content: center;
    font-size:3rem;
}
#count{
    font-size: 17px;
    font-weight: 300;
}

#sign{
    background-color:lightblue;
    border: 1px solid lightblue;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#sign:active{
    transform: translateY(2px);
}

.sign{
    text-decoration: none;
}


/* page 2 */
.delivery{
    padding: 1% 3%;
    /* height: 100vh; */
}
.top-header{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 12px;
    color: purple;
    letter-spacing: .1rem;
    text-decoration-color: lightblue;
    /* width: fit-content; */
}
.how-it-works{
    margin: 2.5rem auto;
}
.how-it-works i{
    margin-right: 1rem;
}

.words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 21px;
    color: rgb(75, 75, 180);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 170;
}
.images{   
    object-fit: contain;
    font-size: 19px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,90%));
    align-items: center; 
    justify-content: center; 
    gap: 30px;
}
.images figure {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 4px lightblue;
    display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5px 10px;
   text-align: center;
}

.images figure img{
    width: 100%;
    height: 110px;
    object-fit: contain;
    margin-top: 10px;
}
hr{
    width: 65%;
    margin: 0 auto;
    height: 2px;
    background-color: rgb(76, 76, 187);
}
#blue{
    color:rgb(75, 75, 181)
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start{
    width:200px;
    height: 50px;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    border: 1px solid green;
    background:green;
    color: white;
    margin: 40px 0;
}
#start:active{
    transform: translatey(2px);
}
#start-href{
    text-decoration: none;
}
.where-we-deliver{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 1% 3%;
    background: linear-gradient(to right,rgb(28, 28, 200),rgb(69, 69, 176));
}
    
.map{
    display: flex;
    /* border: 1px solid white; */
    width:50%;
    justify-content: center;
    align-items: center;
}
#map{
    display: flex;
    justify-content: center;
    width: 80%;
    object-fit: contain;
}
.explanation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color:rgb(255, 255, 255);
    /* border: 1px solid wheat; */
    text-align: center;
}
#area{
    font-size: 34px;
}
h4{
    font-size: 19px;
    color: lightgrey;
    font-weight: 300;
}
#story{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color:white;
    font-weight: bold;
}

.explanation a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#story:active{
    transform: translateY(2px);
    background-color: white;
    color: black;
}

#story:hover{
    background-color: white;
}

 .explanation a:hover {
    color: black;
}

/* footer */
#socials{
    width:30px;
}

.footer{
    height: auto;
    background-color: aliceblue;
    padding: 1% 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.newsletter{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 5%;
}
.newsletter h2{
    text-decoration: underline;
}
fieldset{
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    /* overflow: hidden; */
}
fieldset #email{
height: 100%;
width: auto;
border: none;
background-color: transparent;
text-indent: .5rem;
outline: none;
}
.submit{
    height: 38px;
    /* width: 100px; */
    padding: 0px 5px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    text-decoration: none;
}
#submit{
    text-decoration: none;
    color:white;
    font-weight: bolder;
}

.links{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(280px,1fr)); */
    grid-template-columns: auto auto auto auto;
    gap: 1%;
    margin-bottom: 3%;
}

.links section section{
    display: flex;
}
.links section section p{
    /* border: 1px solid ; */
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.links section section p i{
    border: 1px solid lightblue;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer h3{
    color: blue;
    font-weight: 500;
    text-decoration: underline;
}
.footer a{
    text-decoration: none;
    color: purple;
}
.footer a:hover{
    color: grey;
    text-decoration: underline;
}
.footer li{
    list-style-type: none;
}
.footer hr{
    width: 100%;
    background-color: lightgrey;
    height: 1px;
}
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lastlast{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 1%;
    gap: 20%;
}

/* media queries */
@media (max-width:900px){
    .nav-elements-div{
        display: none;
    }
    .actions{
        display: flex;
        align-items: center;
    }
    .menu{
        display: flex;
    }
    .intro{
        grid-template-columns: auto;
        height: auto;
        justify-content: center;
        text-align: center;
        padding-bottom: 3rem;
        margin-bottom: 1.5rem;
    }
    .where-we-deliver{
        flex-direction: column;
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .explanation{
        font-size: 14px;
    }
    .map{
        width:100%;
    }
    .links{
        grid-template-columns: auto;
        align-items: center;
        row-gap: 30px;
        margin-top: 30px;
    }
    .socials{
        flex-direction: row;
        gap: 10px;
    }
    .lastlast{
        flex-direction: column-reverse;
        row-gap: 10px;
        font-size: 15px;
    }
    .footer{
        padding: 2rem 5%;
        font-size: 15px;
    }
    
    fieldset{
        height: 40px;
    }

}

@media (max-width:500px){
    .footer p,.footer a,.footer span{
        font-size:15px;
    }
    #count{
        font-size:15px;
    }
    #refreshment{
        font-size: 2.5rem;
        color:white;
    }
    #carry{
        width: 95%;
    }
    .newsletter h2{
        font-size: 20px;
    }
    fieldset{
        width:100%;
       margin: 1rem 0;
    }
    
    fieldset #email{
       width: 75%;
    }
}

